In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

In [2]:
index = [0, 2, 2]
df = pd.DataFrame([[5, 6, 11], [7, 8, 22], [7, 8, 33]], index = index, columns = ['a', 'b', 'id'])
df

   a  b  id
0  5  6  11
2  7  8  22
2  7  8  33

In [3]:
index = [1, 2, 2]
df3 = pd.DataFrame([[10, 20, 11], [70, 80, 22], [70, 80, 33]], index = index, columns = ['w', 'c', 'id'])
df3

    w   c  id
1  10  20  11
2  70  80  22
2  70  80  33

In [4]:
index = [1, 2, 2]
df4 = pd.DataFrame([[10, 20, 11], [70, 80, 22], [70, 80, 33]], index = index, columns = ['x', 'y', 'id'])
df4

    x   y  id
1  10  20  11
2  70  80  22
2  70  80  33

In [5]:
index = [1, 2, 2]
df5 = pd.DataFrame([[10, 20], [70, 80], [70, 80]], index = index, columns = ['A', 'B'])
df5

    A   B
1  10  20
2  70  80
2  70  80

In [6]:
sdf = pd.SparseDataFrame(csr_matrix(np.zeros((len(df), 0))), index=df['id'])
sdf

Empty SparseDataFrame
Columns: []
Index: [11, 22, 33]

In [7]:
#sdf.set_index(df['id'])

In [8]:
s3 = df3.to_sparse()
print 's3',s3
print 'df', df
sdf3 = pd.SparseDataFrame(s3)
sdf3

s3     w   c  id
1  10  20  11
2  70  80  22
2  70  80  33
df    a  b  id
0  5  6  11
2  7  8  22
2  7  8  33

    w   c  id
1  10  20  11
2  70  80  22
2  70  80  33

In [9]:
sdf3 = sdf3.set_index(df['id'])
sdf3

     w   c  id
id
11  10  20  11
22  70  80  22
33  70  80  33

In [10]:
s4 = df4.to_sparse()
sdf4 = pd.SparseDataFrame(s4)
sdf4

    x   y  id
1  10  20  11
2  70  80  22
2  70  80  33

In [11]:
sdf4 = sdf4.set_index(df['id'])
sdf4

     x   y  id
id
11  10  20  11
22  70  80  22
33  70  80  33

In [12]:
sdf.index

Int64Index([11, 22, 33], dtype='int64', name=u'id')

In [13]:
sdf3.index

Int64Index([11, 22, 33], dtype='int64', name=u'id')

In [14]:
sdf4.index

Int64Index([11, 22, 33], dtype='int64', name=u'id')

In [15]:
print 'sdf', sdf
print 'sdf3', sdf3
print 'sdf4', sdf4

sdf Empty SparseDataFrame
Columns: []
Index: [11, 22, 33]
sdf3      w   c  id
id
11  10  20  11
22  70  80  22
33  70  80  33
sdf4      x   y  id
id
11  10  20  11
22  70  80  22
33  70  80  33

In [16]:
sdf = sdf.join(sdf3)
sdf

     w   c  id
id
11  10  20  11
22  70  80  22
33  70  80  33

In [17]:
print 'sdf', sdf
print 'sdf3', sdf3
print 'sdf4', sdf4

sdf      w   c  id
id
11  10  20  11
22  70  80  22
33  70  80  33
sdf3      w   c  id
id
11  10  20  11
22  70  80  22
33  70  80  33
sdf4      x   y  id
id
11  10  20  11
22  70  80  22
33  70  80  33

In [20]:
df5 = df5.set_index(df['id'])
df5

     A   B
id
11  10  20
22  70  80
33  70  80

In [21]:
sdf = sdf.join(df5)
sdf

     w   c  id   A   B
id
11  10  20  11  10  20
22  70  80  22  70  80
33  70  80  33  70  80

In [22]:
sdf = sdf.set_index(df.index)
sdf

    w   c  id   A   B
0  10  20  11  10  20
2  70  80  22  70  80
2  70  80  33  70  80